body {
    font-family: Arial, sans-serif;
    /*color: #333;*/
    background-image: url('../background/background-image1.jpg'); /* Update with the correct path */
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the background fixed when scrolling */

}

.sidebar {
    width: 200px;
    background: #333;
    color: #fff;
    padding: 20px;
    position: fixed;
    height: 100%;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 10px 0;
}

.main-content {
    margin-left: 220px;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-item {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
}

.login-container {
    max-width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 8px;
}

.login-container h2 {
    text-align: center;
}

.login-container label {
    display: block;
    margin: 10px 0 5px;
}

.login-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
}
